.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 80px;
}

.title a {
  color: #161ae0;
  text-decoration: none;
}

/* flex style */
.flex {
    display: flex;
 }